<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if user_signed_in? %>
      <%= form_for(:comment, :html => {class: "form-horizontal", role: "form"} ) do |f| %>

        <div class="field">
          <%= f.label :content %>
          <%= f.text_field :content %>
        </div>

        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :public_date, :value => DateAndTime %>
        <%= f.hidden_field :post_id %>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
