<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if logged_in? %>
      <%= form_for(:comment, url: new_post_comment_path(@post)) do |form| %>

        <div class="field">
          <%= form.label :content %>
          <%= form.text_field :content %>
        </div>

        <%= form.hidden_field :user_id, :value => current_user.id %>
        <%= form.hidden_field :public_date, :value => DateAndTime %>
        <%= form.hidden_field :post_id, :value => @post.id %>

        <div class="actions">
          <%= link_to 'Placeholder for now', @post %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
