<p id="notice"><%= notice %></p>

<p>
  <strong>Public date:</strong>
  <%= @comment.public_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post %>
</p>

<%= if current_user.id == @comment.user or current_user.admin_level != 0%>
  <%= link_to 'Edit', edit_comment_path(@comment) %> |
  <%= link_to 'Back', comments_path %>
<% end %>