<p id="notice"><%= notice %></p>

<h1>Sharedposts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Posts</th>
      <th>Date of sharing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sharedposts.each do |sharedpost| %>
      <tr>
        <td><%= sharedpost.user %></td>
        <td><%= sharedpost.posts %></td>
        <td><%= sharedpost.date_of_sharing %></td>
        <td><%= link_to 'Show', sharedpost %></td>
        <td><%= link_to 'Edit', edit_sharedpost_path(sharedpost) %></td>
        <td><%= link_to 'Destroy', sharedpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sharedpost', new_sharedpost_path %>
