<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sharedpost.user %>
</p>

<p>
  <strong>Posts:</strong>
  <%= @sharedpost.posts %>
</p>

<p>
  <strong>Date of sharing:</strong>
  <%= @sharedpost.date_of_sharing %>
</p>
<%= if current_user.id == sharedpost.user or current_user.admin != 0%>
  <%= link_to 'Edit', edit_sharedpost_path(@sharedpost) %> |
  <%= link_to 'Back', sharedposts_path %>
<% end %>