<div class = "card border-0 shadow mb-4" style="background-color: white">
<%= form_with(model: user, local: true) do |form| %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>

      <div class="field">
        <%= form.label :password %>
        <%= form.text_field :password %>
      </div>

      <div class="field">
        <%= form.label :confirm_password %>
        <%= form.text_field :password%>
      </div>

      <div>
      <%= form.label :picture %>
      <%= form.text_field :picture %>
      </div>

      <div class="field">
        <%= form.label :biography %>
        <%= form.text_field :biography %>
      </div>

      <div class="field">
        <%= form.label :gps %>
        <%= form.text_field :gps, :value => "placeholder" %>
      </div>

      <div class="field">
        <%= form.label :city %>
        <%= form.text_field :city %>
      </div>

      <div class="field">
        <%= form.label :country %>
        <%= form.text_field :country %>
      </div>

      <% if current_user.admin_level == 2 %>
        <div class ="field">
          <%= form.select :admin_level, options_for_select([["Admin level", ""], 0,1,2]), :class => 'genForm_dropBox'%>
        </div>
      <% else %>
        <div class ="field">
          <%= form.select :admin_level, options_for_select([["Admin level", ""], 0,1]), :class => 'genForm_dropBox'%>
        </div>
      <% end %>

      <div class="actions">
        <%= form.submit %>
      </div>

<% end %>
</div>
