<% provide(:title, @user.name) %>
<div class = "card border-0 shadow mb-4" style="background-color: white">
  <div class="row">
    <aside class="col-md-6">
      <section class="col-md-6">
        <h3>
          <%= @user.name %>
        </h3>
        <% if @user.avatar.attachment.nil? %>
          <%=image_tag "hack.jpg", :alt => "default", :size=> "220x150"%>
        <% else %>
          <%=image_tag(@user.avatar, class:"image-responsive", :size=> "220x150") %>
        <% end %>

        <% if user_signed_in? %>
          <% if current_user.id == @user.id or current_user.admin_level == 1%>
            <%= link_to 'Edit account', edit_user_registration_path(@user) %>
          <% end %>
          <% if current_user.admin_level == 2 and @user.admin_level == 1%>
            <%= link_to 'Edit this admin', edit_user_registration_path(@user) %>
          <% end %>

        <% end %>
      </section>
    </aside>

  </div>
  <hr></hr>
  <div class="row">
    <aside class="col-md-8">
      <a>Last sign in:</a>
      <a><%= @user.last_sign_in_at %></a>
    </aside>
  </div>
  <hr></hr>
  <div class="row">
    <aside class="col-md-8">
      <a>Biography:</a>
    <% if @user.biography!=nil %>
      <%= @user.biography %>
    <% end %>
    </aside>
  </div>
  <hr></hr>
  <div class="row">
    <aside class="col-md-8">
      <a>Country:</a>
    <% if @user.country != nil %>
      <%= @user.country %>
    <% end %>
    </aside>
  </div>
  <div class="row">
    <aside class="col-md-8">
      <a>City:</a>
      <% if @user.city != nil %>
        <%= @user.city %>
      <% end %>
    </aside>
  </div>
  <% if @user.admin_level == 1 %>
    <hr></hr>
    <div class="row">
      <aside class="col-md-8">
        <a>Admin</a>
      </aside>
    </div>
  <% elsif @user.admin_level == 2 %>
  <hr></hr>
  <div class="row">
    <aside class="col-md-8">
      <a>SUPER Admin</a>
    </aside>
  </div>
  <% end %>
  <hr></hr>
  <div class="row">
    <aside class="col-md-8">
      <h3> Posts: </h3>
      <% @posts.each do |post| %>
        <h3>
          <%= link_to post.title , post_path(post) %>
        </h3>
      <% end %>
    </aside>
  </div>

  <div class="row">
    <aside class="col-md-8">
      <h3> Following Posts: </h3>
      <% @sharedposts.each do |sharedpost| %>
        <h3>
          <%= link_to sharedpost.post.title , post_path(sharedpost.post.id) %>
        </h3>
      <% end %>
    </aside>
  </div>

</div>
<%= link_to 'Back', root_path %>
