<p id="notice"><%= notice %></p>

<h1>Posts</h1>

  <body>
  <% @posts.each do |post| %>
    <div>
      <div style="background-color: white">
        <div>
          <h3><%= post.title %></h3>
        </div>
        <div>

          <a href="<%= post_url(post) %>">
            <% if post.fileName != nil %>
              <%=image_tag post.image.url(:thumb) %>
            <% else %>
              <%=image_tag "hack.jpg", :alt => "default", :size=> "220x150"%>
            <% end %>
          </a>
          <p> Description: <%= post.description %></p>
          <p> User: <%= post.user_id %></p>
          <p> Published: <%= post.public_date %></p>


        </div>
      </div>
    </div>
  <% end %>
  </body>


<br>
<% if logged_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>