<p id="notice"><%= notice %></p>

<h1>Posts</h1>

  <body>
  <% @posts.each do |post| %>
    <div>
      <div class = "card border-0 shadow mb-4" style="background-color: white">
        <div class="card-body">
          <h3 class="display-4"><%= link_to post.title, post %></h3>
        </div>
        <div>
          <div class="row">
            <div class="column1">
              <a href="<%= post_url(post) %>">
                <% if post.fileName != nil %>
                  <%=image_tag post.image.url(:thumb) %>
                <% else %>
                  <%=image_tag "hack.jpg", :alt => "default", :size=> "220x150"%>
                <% end %>
                <p> Published: <%= post.created_at %></p>
              </a>
            </div>
            <div class="column2">
                <p class="lead"> Description: <%= post.description %></p>
                <p class="lead"> User: <%= post.user_id %></p>
                <!--p> User: <#% User.where(id: post.user_id) %></p-->

            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </body>
<br>
