<div class = "card border-0 shadow mb-4" style="background-color: white">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="column1">
        <div class="card-body">
          <h3 class="display-4"><%=  @post.title %></h3>
        </div>

        <% if @post.picture.attachment != nil %>
          <%=image_tag(@post.picture, class:"image-responsive", :size=> "220x150") %>
        <% else %>
          <%=image_tag "hack.jpg", :alt => "default", :size=> "220x150"%>
        <% end %>
        <p> Published: <%= @post.created_at %></p>
    </div>
    <div class="column2">
      <strong>User:</strong>
      <%= link_to @post.user.email, user_path(@post.user.id) %>
      <p></p>
      <strong>City:</strong>
      <%= @post.city %>
      <p></p>
      <strong>Country:</strong>
      <%= @post.country %>
      <p></p>
      <strong>Gps:</strong>
      <%= @post.gps %>
      <p></p>
      <strong>Description:</strong>
      <%= @post.description %>
      <% if current_user != nil %>
        <% if current_user.admin_level == 1 || current_user.id == @post.user.id %>
          <p></p>
          <%= link_to 'Edit', edit_post_path(@post) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <strong>Files: </strong>
    <% @post.files.each do |file| %>
      <li>
        <% if file.attachment.nil? %>

        <% else %>
          <%= image_tag file.preview(resize_to_limit: [100, 100]) %>
        <% end %>
      </li>
    <% end %>
  </div>
</div>
<% if current_user != nil %>
  <% if current_user.admin_level == 1 %>
        <strong>Open:</strong>
        <%= @post.open_or_closed %>

        <strong>Solved:</strong>
        <%= @post.solved %>

        <strong>Visible:</strong>
        <%= @post.visible %>

        <strong>Dumpster:</strong>
        <%= @post.dumpster %>
  <% end %>
  <%= form_for [@post, @post.sharedposts.build] do |form| %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.hidden_field :date_of_sharing, :value => DateAndTime %>
    <div class="actions">
      <%= form.submit "Follow this Post" %>
    </div>

  <% end %>
  <div clas="row">

    <%= form_for [@post, @post.votes.build] do |form| %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <%= form.hidden_field :positive, :value => FALSE %>
      <div class="actions">
        <%= form.submit "Dislike" %>
      </div>
    <% end %>


    <%= form_for [@post, @post.votes.build] do |form| %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <%= form.hidden_field :positive, :value => TRUE %>
      <div class="actions">
        <%= form.submit "Like" %>
      </div>
    <% end %>

  </div>


<% end %>
<div class = "card border-0 shadow mb-4" style="background-color: white">
  <div class="card-body">
    <% if current_user != nil %>
      <p class="lead"> New Comment</p>
      <%= form_for [@post, @post.comments.build] do |f| %>
        <%= f.text_area :content %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :public_date, :value => DateAndTime %>
        <%= f.submit "Submit" %>
      <% end %>
    <% end %>
    <p class="lead">Comments</p>
    <% @comments.each do |comment| %>
      <%= comment.content %>
      <%= link_to comment.user.email, user_path(comment.user.id) %>
    <% end %>
  </div>
</div>
