<body class="bg">
<header class="navbar navbar-fixed-top">
  <div class="container">
    <h1><div class="title" href="/"><%= link_to "Welcome to QueHacks", root_path%></div></h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <li><%= link_to(current_user.name, user_path(current_user))%>
        <% else %>
          <li><%= link_to "Log in", '/login' %></li>
          <li><%= link_to "Register", '/register' %></li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>
</body>
