<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ?yield(:title) : "QueHacks" %></title>
    <style type="text/css">
      body, html{
        height: 100%;
        margin: 0;
      }
      .bg {
        background-image: url(<%= asset_path 'hack.jpg' %>);
        height:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      h1 {
        text-align: center;
        color: rgb(0,0,0);
      }

    </style>

    <%= render 'layouts/header' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAghDygZ30SY12oAZujZAU0t9bAv0xDZEw&callback=initMap' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <%= yield(:head_tags) %>
  </head>

  <html>
  <% if !user_signed_in? %>
    <% show_page = true %>
  <% else %>
    <% if Blacklist.exists?(user_id: current_user.id) %>
      <%= "YOUR ACCOUNT HAS BEEN BLACKLISTED" %>
      <% show_page = false %>
    <% else %>
      <% show_page = true %>
    <% end %>
  <% end %>
  <body>
  <% if show_page == true %>
    <p id="notice" class="center"><%= notice %></p>

    <%= render 'layouts/sidenav' %>
    <div class="container">
      <%= yield %>
      <%#= render 'layouts/footer' %>
      <%#= debug(params) if Rails.env.development? %>
    </div>
    </body>
  <% end %>
</html>
